* {
  text-align: center;
  color: black;


}
h1 {
  font-family: 'Fuzzy Bubbles', cursive;
}
body {
  background-image: url("https://images.pexels.com/photos/1450351/pexels-photo-1450351.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blue;
  background-attachment: fixed;
  padding: 20px 75px 25px 20px;
}
table {
  margin: auto;
}
td {
  padding: 20px;
  background-color: white;
  color: black;
}
.bg {
  background-color: rgb(204 204 204 / 60%);
}
li {
  list-style-type: none;
}
